@media  (max-width:1230px){
  /*intro*/
  .intro_suptitle{
    font-size: 52px;
  }
  .intro_title{
    font-size: 120px;
  }
  /*intro close*/

  /*review*/
  .reviews_text{
    font-size: 20px;
  }
}
@media (max-width:990px) {
  /*intro*/
  .intro_suptitle{
    font-size: 32px;
  }
  .intro_title{
    font-size: 80px;
  }
  /*intro close*/

  /*stat*/
  .stat{
    justify-content: center;
  }
  .stat_item{
    flex: none;
    width: 33.33333%;
    border: 0;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .stat_item:last-child{
    border: 0;
  }
  /*stat close*/

  /*services*/
  .services_item{
    width: 50%;
    padding-bottom: 0;
  }
  .services_item--border{
    border-bottom: 0;
  }

  /*review*/
  .reviews{
    padding: 0 60px;
  }
  .reviews_photo{
    width: 150px;
    height: 150px;
  }
  .reviews_item{
    padding-left: 175px;
  }

  /*clients*/
  .clients{
    max-width: 600px;
    margin: 0 auto;
  }
  .clients_item{
    width: 100%;
    padding-right: 0;
  }
  .clients_item:last-child{
    margin-bottom: 0;
  }

  /*footer*/
  .footer{
    padding-top: 10px;
  }
  .footer_logo{
    margin-bottom: 0;
  }
  .footer_col--first{
    width: 100%;
  }
  .footer_col--second,
  .footer_col--third{
    width: 50%;
  }

  /*instagram*/
  .instagram{
    justify-content: flex-start;
  }
  .instagram_item{
    width: auto;
    border-right: 1px solid white;
  }
}
@media (max-width:770px) {
  .header{
    padding: 10px 0;
  }
  /*nav*/
  .nav{
    display: none;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    background-color: #eb8b8d;
  }
  .nav.active{
    display: block;
  }
  .nav_link{
    display: block;
    margin: 0;
    padding: 8px 20px;
  }
  /*nav-togle*/
  .nav-toggle{
    display: block;
  }
  /*section*/
  .section{
    padding: 40px 0;
  }
  .section--devices{
    padding-bottom: 0;
  }

  /*intro*/
  .intro{
    min-height: 650px;
  }

  /*slider*/
  .slider_text{
    display: none;
  }
  .slider_item.active::before{
    width: 50%;
  }

  /*card*/
  .card{
    margin-top: 50px;
    justify-content: center;
  }
  .card_item{
    width: 100%;
    max-width: 410px;
    margin-bottom: 30px;
  }
  .card_item:last-child{
    margin-bottom: 0;
  }
  /*card close*/

  /*services*/
  .services{
    justify-content: center;
  }
  .services_item{
    width: 100%;
    max-width: 400px;
    padding-left: 55px;
    padding-right: 0;
  }
  .services_icon{
    left: 0;
  }

  /*wedo*/
  .wedo_img{
    display: none;
  }
  .wedo_item{
    width: 100%;
  }

  /*review*/
  .reviews_photo{
    position: static;
    margin: 0 auto 20px;
  }
  .reviews_item{
    padding-left: 0;
  }
  .reviews_text{
    font-size: 16px;
  }
  .reviews_author{
    font-size: 20px;
  }

  /*works*/
  .works{
    flex-wrap: wrap;
  }
  .works_col{
    flex: none;
    width: 50%;
  }

  /*blog*/
  .blog{
    max-width: 380px;
    margin: 0 auto;
  }
  .blog_item{
    width: 100%;
    margin-bottom: 30px;
  }
  .blog_item:last-child{
    margin-bottom: 0;
  }

  /*footer*/
  .footer_col--second,
  .footer_col--third{
    width: 100%;
  }

}
@media (max-width: 575px) {
  /*intro*/
  .intro_suptitle{
    font-size: 22px;
  }
  .intro_title{
    font-size: 40px;
  }
  /*intro close*/

  /*section*/
  .section_header{
    margin-bottom: 50px;
  }
  .section_suptitle{
    font-size: 20px;
  }
  .section_title{
    font-size: 24px;
  }
  .section_title::after{
    margin: 20px auto;
  }
  /*section close*/

  /*stat*/
  .stat_item{
    width: 100%;
    border-bottom: 1px solid #b5eae0;
  }
  .stat_count{
    font-size: 52px;
  }
  /*stat clos*/

  /*devices*/
  .devices{
    max-width: 320px;
  }
  .devices_item--iphone{
    width: 180px;
    bottom: -50px;
    right: -80px;
  }

  /*review*/
  .reviews .slick-slider{
    padding: 0;
  }
  .slick-arrow{
    top: 18%;
  }

  /*logos*/
  .logos{
    flex-wrap: wrap;
    justify-content: center;
  }
  .logos_item{
    width: 50%;
    margin-bottom: 20px;
  }
  .logos_img{
    margin: 0 auto;
  }

  /*works*/
  .works_col{
    width: 100%;
  }

  /*clients*/
  .clients_photo{
    position: static;
  }
  .clients_text::before{
    margin: 15px auto;
  }
  .clients_item{
    text-align: center;
    padding-left: 0;
  }

  /*blogs*/
  .blogs_img{
    width: 80px;
    height: 50px;
  }
  .blogs_title{
    font-size: 10px;
  }
  /*subscribe*/
  .subscribe{
    flex-wrap: wrap;
    max-width: none;
  }
  .subscribe_input{
    margin-bottom: 10px;
  }
  .subscribe_input,
  .subscribe_btn{
    width: 100%;
  }
}
